section {
  padding-bottom: 120px;
  background-color: #f0f0f0;
}

@media screen and (max-width: 479px) {
  section {
    padding-bottom: 80px;
  }
}

a {
  font-size: 14px;
  text-decoration: none;
  color: #000;
}

p {
  font-size: 14px;
}

@media screen and (max-width: 479px) {
  p {
    font-size: 18px;
  }
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 100%;
  max-height: 80px;
  background-color: #f0f0f0;
}

@media screen and (max-width: 479px) {
  header {
    padding: 20px 0;
  }
}

header .header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8%;
  margin-left: 15%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 479px) {
  header .header-wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 100%;
    margin-left: 5%;
  }
}

header .header-wrapper .logo {
  width: 15%;
}

@media screen and (max-width: 479px) {
  header .header-wrapper .logo {
    width: 20%;
  }
}

header .header-wrapper .logo img {
  width: 100%;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 15%;
}

@media screen and (max-width: 479px) {
  header nav ul {
    margin-top: 10px;
    gap: 10%;
  }
}

header .contact {
  background-color: #000;
  width: 11%;
  text-align: center;
}

header .contact a {
  vertical-align: center;
  font-size: 12px;
  color: #fff;
  line-height: 80px;
}

@media screen and (max-width: 479px) {
  header .contact {
    display: none;
  }
}

.top img {
  width: 100%;
  height: 1009px;
  -o-object-fit: none;
     object-fit: none;
}

.font2 {
  position: relative;
  text-transform: uppercase;
  font-size: 36px;
  font-weight: 100;
  letter-spacing: 15px;
  padding-bottom: 40px;
  margin-bottom: 40px;
}

@media screen and (max-width: 479px) {
  .font2 {
    font-size: 40px;
  }
}

.font2 span {
  display: block;
  font-size: 14px;
  letter-spacing: 0;
  padding-top: 10px;
}

@media screen and (max-width: 479px) {
  .font2 span {
    font-size: 18px;
  }
}

.font2::after {
  content: "";
  display: block;
  background-color: #000;
  height: 1px;
  width: 40px;
  position: absolute;
  bottom: 0;
}

@media screen and (max-width: 479px) {
  .font2::after {
    height: 2px;
  }
}

.news-wrapper {
  width: 50%;
  margin: 0 auto;
}

@media screen and (max-width: 479px) {
  .news-wrapper {
    width: 90%;
  }
}

.news-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 479px) {
  .news-inner {
    display: block;
  }
}

.news-container {
  margin-left: 30px;
  padding-left: 30px;
  border-left: 1px solid #000;
}

@media screen and (max-width: 479px) {
  .news-container {
    padding: 0 0 40px 0;
    margin: 0;
    border: unset;
  }
}

.news-container:nth-of-type(1) {
  margin: 0;
  padding-left: 0;
  border: unset;
}

.news-container p span {
  background-color: #000;
  font-size: 12px;
  color: #fff;
  padding: 3px 8px;
  margin-left: 15px;
}

.news-container .font6 {
  font-size: 14px;
  font-weight: 100;
  margin-top: 30px;
}

@media screen and (max-width: 479px) {
  .news-container .font6 {
    font-size: 18px;
    margin-top: 20px;
  }
}

.about {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 479px) {
  .about {
    display: block;
  }
}

.about-wrapper {
  margin: 0 auto;
  padding-top: 200px;
}

@media screen and (max-width: 479px) {
  .about-wrapper {
    width: 90%;
    margin: 0 auto;
    padding: 0;
  }
}

.about-img {
  width: 50%;
}

@media screen and (max-width: 479px) {
  .about-img {
    width: 30%;
    margin-bottom: 50px;
  }
}

.about-img img {
  width: 100%;
}

@media screen and (max-width: 479px) {
  .about-img img {
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.about-txt {
  width: 95%;
}

.about-txt p {
  line-height: 2.5;
}

@media screen and (max-width: 479px) {
  .about-txt p {
    line-height: 2;
  }
}

.business-wrapper {
  width: 50%;
  margin: 0 auto;
}

@media screen and (max-width: 479px) {
  .business-wrapper {
    width: 90%;
  }
}

.business-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 60px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 479px) {
  .business-inner {
    display: block;
  }
}

.business-container {
  width: 30%;
}

@media screen and (max-width: 479px) {
  .business-container {
    width: 100%;
  }
}

.business-container:nth-of-type(1) {
  padding-top: 120px;
}

@media screen and (max-width: 479px) {
  .business-container:nth-of-type(1) {
    padding: 0;
  }
}

.business-item {
  margin: 50px 0;
}

.business-item img {
  width: 100%;
}

.business-item h5 {
  font-size: 14px;
  margin-bottom: 10px;
  position: relative;
}

.business-item h5::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  background-color: #000;
  width: 10px;
  height: 1px;
  margin-right: 10px;
}

.company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

@media screen and (max-width: 479px) {
  .company {
    display: block;
    padding-bottom: 0;
  }
}

.company-inner {
  width: 60%;
  margin: 0 auto;
}

@media screen and (max-width: 479px) {
  .company-inner {
    width: 95%;
  }
}

.company-wrapper {
  width: 40%;
  padding: 120px 80px;
  background-color: #fff;
}

@media screen and (max-width: 479px) {
  .company-wrapper {
    width: 95%;
    padding: 50px 10px;
  }
}

.company-img {
  position: absolute;
  top: 150px;
  right: 400px;
}

@media screen and (max-width: 479px) {
  .company-img {
    position: relative;
    top: 0;
    right: 0;
  }
}

.company-img img {
  width: 550px;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 479px) {
  .company-img img {
    margin: 20px 0;
    width: 100%;
  }
}

.company table tr td {
  font-size: 14px;
  padding-top: 20px;
}

.company table tr td:nth-of-type(2n) {
  padding-left: 20px;
}

@media screen and (max-width: 479px) {
  .company table tr td {
    display: block;
    font-size: 16px;
  }
}

footer {
  width: 50%;
  margin: 0 auto;
}

@media screen and (max-width: 479px) {
  footer {
    width: 100%;
  }
}

footer .footer-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 180px;
}

@media screen and (max-width: 479px) {
  footer .footer-flex {
    padding: 30px 0 20px 20px;
    display: inline-block;
    height: 250px;
  }
}

footer .footer-flex .txt p {
  line-height: 1.5;
}

@media screen and (max-width: 479px) {
  footer .footer-flex .txt p {
    width: 100%;
    padding-top: 16px;
  }
}

footer .footer-img {
  width: 10%;
}

@media screen and (max-width: 479px) {
  footer .footer-img {
    width: 25%;
  }
}

footer .footer-img img {
  width: 100%;
}

footer .copy {
  font-size: 10px;
  padding-bottom: 20px;
}

@media screen and (max-width: 479px) {
  footer .copy {
    padding-left: 20px;
    font-size: 12px;
  }
}
/*# sourceMappingURL=style.css.map */